<%= form_for :comment, url: post_comments_path(@post.id) do |form| %>
  <div class="mb-4">
    <%= form.hidden_field :commenter_id, value: current_user.id %>
    <%= form.label :body, "Comment:", class: "mb-2" %>
    <%= form.text_area :body, rows: 4, placeholder: "Enter your text here...",
                        class: "form-control bg-light", required: "required" %>
  </div>
  <div class="modal-footer pb-0">
    <button type="button" class="btn btn-secondary ms-3" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary ms-3" data-bs-dismiss="modal">Post Comment</button>
  </div>
<% end %>