<div class="post-card container mt-3 mb-4 p-3 border shadow-sm rounded hover-shadow">
    <div class="card-item card-item-top"><%= link_to "#{post.title}", post_path(post)%> by <%= link_to "#{post.author.first_name}", user_path(post.author_id), class: "user-link"%></div>
    <div class="card-item"><%=post.body%></div>
    <div class="card-item card-item-bottom">Like or Friend</div>
</div>