<div class="body-container">
  <div class="header">
    <%= render 'shared/navbar' %>
  </div>
  <div class="body">
    <div class="sidebar"> 
      <%= render 'shared/sidebar'%>
    </div>
    <div class="feed-container">
      <div class="new-post container mt-3 mb-4 p-3 border shadow-sm rounded hover-shadow">
        <%= link_to 'Create new post', new_user_post_path(current_user)%>
      </div>
      <% @posts.each do |post| %> 
        <%= render 'post', post: post %>
      <% end %>
    </div>
  </div>
</div>