<div class="body-container">
  <div class="header">
    <%= render 'shared/navbar' %>
  </div>
  <div class="body">
    <div class="sidebar"> Sidebar </div>
    <div class="feed-container">
      <% @posts.each do |post| %> 
        <%= render 'post', post: post %>
      <% end %>
    </div>
  </div>
  <div class="footer"></div>
</div>